---
---

@import "{{ site.theme }}";

header {
  #socials {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    i {
      color: #fff;
      font-size: 2em !important;
    }
  }
}
